
<link rel="stylesheet" href="/assets/chat.css"/>





<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
<input type="hidden" value="<%= current_user.id %>" id="user_id"/>
<div class="content container-fluid bootstrap snippets">
      <div class="row row-broken">
        <div class="col-sm-3 col-xs-12">
          <div class="col-inside-lg decor-default chat" style="overflow: hidden; outline: none;" tabindex="5000">
            <div class="chat-users">
              <h6 id="users_list">Chat Rooms <span class="glyphicon glyphicon-plus chat-room-icon" data-toggle="modal" data-target="#myModal" id="add-chat-room"></span></h6>
              <% for chat in @chat_rooms %>
                <div class="user">
                  <% if is_tet_a_tet_chatroom? chat %>
                    <div class="avatar">
                    <!-- <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="User name"> -->
                    <% curr =  get_another_user_from_chat_room(chat) %>
                    <%= image_tag curr.avatar(:thumb), width: 45, height: 45 %>
                    <%= set_users_status(curr) %>
                    </div>
                    <div class="name"><%= curr.login %></div>
                    <div class="mood"><%= curr.email %></div>
                    <% end %>
                </div>
                <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-xs-12 chat" style="overflow: hidden; outline: none;" tabindex="5001" id="scroll">
          <div class="col-inside-lg decor-default" >
            <div class="chat-body" >
              <h6 >Mini Chat</h6>
              <div id="messages_for_del" >
              <% for m in @chat_room.messages %>
                <%= loyout_mesage_by_message m %>
                <div class="avatar">
                  <%=  image_tag m.user.avatar(:medium) %>
                  <!-- <div class="status offline"></div> -->
                </div>
                <div class="name"><%= m.user.login %></div>
                <div class="text">
                  <%= m.text_message %>
                </div>
                <div class="time">5 min ago</div>
              </div>
              <% end %>
              </div>
              <div id="insert_message" class="chat-body">

              </div>
              <div class="answer-add">
                <input placeholder="Write a message" id="text_value">
                <span class="answer-btn answer-btn-1 unsubscribed"></span>
                <span class="answer-btn answer-btn-2"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <%= render 'add_chat_room' %>
    <!-- Modal -->
<!-- Modal -->

<script src='/assets/chat.js'>
</script>
<script src="/assets/add_chat_room.js">

</script>
<script src="/assets/purl.js"></script>
<script type="text/javascript">
$(document).ready(function(){
$(function(){
    $(".chat").niceScroll();
});
$('.dropdown')
  .dropdown()
;


})
</script>
