
<div id="fullscreen_bg" class="fullscreen_bg"/>
 <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'centered-form' }) do |f| %>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
        <div class="panel panel-primary">

            <h3 class="text-center"><%= t '.edit_info' %></h3>

        <div class="panel-body">
<div id='login-error' class='registrations-errors'>login error</div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span>
                            </span>
                            <%= f.text_field :login, class: 'form-control', placeholder: true %>
                            <!-- <input type="text" class="form-control" placeholder="First Name" /> -->
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span>
                            </span>
                            <%= f.text_field :first_name, class: 'form-control', placeholder: true %>
                            <!-- <input type="text" class="form-control" placeholder="First Name" /> -->
                        </div>
                    </div>



                     <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span>
                            </span>
                            <%= f.text_field :last_name, class: 'form-control', placeholder: true%>
                            <!-- <input type="text" class="form-control" placeholder="First Name" /> -->
                        </div>
                    </div>


                     <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span>
                            </span>
                            <%= f.text_field :country, class: 'form-control', placeholder: true%>
                            <!-- <input type="text" class="form-control" placeholder="First Name" /> -->
                        </div>
                    </div>


                     <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span>
                            </span>
                            <%= f.text_field :city, class: 'form-control', placeholder: true %>
                            <!-- <input type="text" class="form-control" placeholder="First Name" /> -->
                        </div>
                    </div>                   

                    

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span>
                            </span>
                            <%= f.date_field :date_of_birth, class: 'form-control', placeholder: 'Date of birth' %>
                            <!-- <input type="text" class="form-control" placeholder="First Name" /> -->
                        </div>
                    </div>

                   



                   

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-flash"></span></span>
                          <%= f.select(:gender, User.genders.keys.map {|role| [role.titleize,role]},class: 'form-control') %>
                            <!-- <input type="text" class="form-control" placeholder="Credit card" /> -->
                        </div>
                    </div>

                    

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><%= image_tag resource.avatar.url(:thumb) %></span>
                          <div id='avatar'> <label class="btn btn-default btn-file" id="user_avatar_btn"><%= f.file_field :avatar %> <%= t '.browse' %> <input type="file" style="display: none;"></label>                         
                          </div>
                            <!-- <input type="text" class="form-control" placeholder="Credit card" /> -->
                        </div>
                    </div>

                        <button class="btn btn-lg btn-primary btn-block" type="submit", id="edit_submit"><%= t '.save' %> </button>


      </div>
       </div>
        </div>
    </div>
</div>
<% end %>


</div>


<%= javascript_tag do %>
  var login = $('#user_login').val()
  $('#edit_submit').click(function(event){ 
        event.preventDefault();       
        
        if($('#user_login').val() == ""){
            $('#login-error').show();
            $('#user_login').val(login);            
        }
        else{
            $.ajax({
                type: "POST",
                 url: "/ajax_check_validations",
                 data: {"new_login" : $('#user_login').val()},
                 success: function(res){
                     console.log(res);
                     if(res['result'] == 'login exists'){
                        $('#login-error').text('login exists');
                        $('#login-error').show();
                     }
                     else {
                        $('#edit_user').submit();
                     }
                 }
            });
                

        }
       
  });
<% end %>
