<link rel="stylesheet" href="/assets/comments.scss"></link>
<% post = Post.find(post_id) %>
<% comments = post.comments %>
<% comment = Comment.new(commentable_type:'Post', post_id:post.id, commentable_id:post_id, user_id:current_user.id) %>
<%= link_to t('.comments'), show_comments_area_path(post), remote: true %>

<div class='comments-area' id=<%= post.id %> >
	<%= form_for comment, remote: true do |f| %>
		<%= f.text_area :text, :class => 'comments-textarea' %>
		<%= f.hidden_field :user_id %>
		<%= f.hidden_field :post_id %>
		<%= f.hidden_field :commentable_type %>
		<%= f.hidden_field :commentable_id %>	
	<% end %><br>

	<%= javascript_tag do %>
		var newCommentForms = $(".new_comment");
		var form = newCommentForms.last();
		$(form).on("keypress", function(e){
			if(e.which == 13 ){
				if($(this).children('textarea').val() == ''){
					return false;
				}else{
					$(this).submit();
				}
			}
			});

	<% end %>

	<div class='all-comments-list'>
		<% comments.each do |c| %>				
			<%= render partial: '/comments/comment', locals:{comment_id: c.id} %>
		<% end %>
	</div>

</div>


