
<% post %>
<% user %>

<% clips = post.attachments.video %>
<% clips.each do |clip| %>
  <div class="row posts-modals-clips-row" id="posts<%=post.id%>-modal-clips<%=clip.id%>-row">

    <div class="col-md-12">
      <%= video_tag clip.file.to_s, :controls => true, class:'posts-modals-clip', id:'posts'+post.id.to_s+'-modal-clip'+clip.id.to_s %>

      <div class="posts-modals-clips-title"><%= clip.file.to_s.split('/').last %></div>
      <% if user == current_user %>
          <%= link_to 'X', user_post_remove_clip_path(user, post, clip_id: clip), method: :delete, remote: true, class:'posts-modal-clips-remove-link', data:{confirm: 'Are you shure?'} %>
      <% end %>


      <% if current_user != user %>



            <% if current_user.attachment_references.where(attachment_type:'video', attachment_id: clip.id).count == 0 %>
              <div class="posts-modal-add-to-my-videos-link" id="posts<%=post.id%>-modal-add-to-my-videos-link<%=clip.id%>">
                 <%= link_to '+add to my videos', user_post_add_clip_to_my_videos_path(current_user, post, clip_id: clip.id), remote: true, method: :put %>
              </div>
            <% end %>


      <% end %>
    </div>

  </div>
<% end %>

<script>
  $('.posts-modal-clips-remove-link').each(function(){
    $(this).mouseover(function(){
      $(this).attr('title', 'remove');
    });
  });

  $('.posts-modals-clip').each(function(){
    $(this).on('play', function(){
      var clip = $(this);
      $('.posts-modals-clip').each(function(){
        if ($(this).attr('id') != $(clip).attr('id')){
          $(this).trigger('pause');
        }
      });
    });
  });
</script>



