
<%#<link rel="stylesheet" href="/assets/show.css"/>%>
<%=stylesheet_link_tag "users_show"%>
<%=javascript_include_tag "users_show"%>
<script type="text/javascript" charset="utf-8">var page = 'user_show'</script>
<%#<script src="/assets/comments.js" ></script>%>
<%#<script type="text/javascript" src="/assets/likes.js"></script>%>

<%#<link rel="stylesheet" href="/assets/likes.css" title="" type="" />%>

<div class="user-cont">
    <div class="col-md-4">
        <%= image_tag @user.avatar.url(:medium), class: 'img-rounded' %>
        <h4><%= @user.last_name%> <%= @user.first_name %></h4>
      <h4 id="headercustom"><%= t '.login' %><%= @user.login %></h4>
      <h4><%= t '.date_of_birth' %><%= @user.date_of_birth %> </h4>
      <h4><%= t '.live' %><%= @user.country %> - <%= @user.city %></h4>




<h4><%= link_to 'photo albums', user_photo_albums_path(@user) %></h4>
<h4><%= link_to 'video catalogs', user_video_catalogs_path(@user) %></h4>
<h4><%= link_to 'audio catalogs', user_audio_catalogs_path(@user) %></h4>




        <% if @user.id != current_user.id %>
        <%= link_to 'Send Message', find_chat_room_path + "?user_id=#{@user.id}" ,method: :get  %>
            <% @id = @user.id %>
            <%=form_tag '/users/toggle_follow', method:'get' do%>
                <%=hidden_field_tag 'id', @user.id%>
                <% unless @is_following %>
                  <%=submit_tag t '.follow', class:"btn btn-success btn-md"%>
                    <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">Report</button>
                <% else %>
                  <%=submit_tag t '.unfollow',class:"btn btn-danger btn-md", style:""%>

                  <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">Report</button>
                <% end %>
            <% end %>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <%= render "send_reports/add_report", object: @id  %>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div>
      <div class="col-md-2"><h4><%= t '.followers'  %> <%= @user.followers.count %> </h4></div>
      <div class="col-md-2"><h4><%= t '.i_follow' %><%= @user.ifollow.count %> </h4></div>
      <div class="col-md-2"><h4><%= t '.posts' %><%= @user.posts.count %> </h4></div>
    </div>
   
    <% if @user == current_user %>
      <%= render partial: 'posts/new' %>
    <% end %> 

    <div class="col-md-8">
        <%= render partial: 'posts/index' %>
        <%= paginate @posts %>
    </div>
</div>
