<style type="text/css">
	.user-cont{
	margin-top: 65px; 
}
	</style>

<div class="user-cont">
	<div class="col-md-4"> 
		<%= image_tag @user.avatar.url(:medium), class: 'img-rounded' %>
		<h4><%= @user.last_name%> <%= @user.first_name %></h4>
		<h4>Login: <%= @user.login %></h4>
		<h4>Date of birth: <%= @user.date_of_birth %> </h4>
		<h4>Live in: <%= @user.country %> - <%= @user.city %></h4>
			<% if @user.id != current_user.id %> 
				
				<button type="button" class="btn btn-success btn-md" >Follow</button>
				
				  <!-- Trigger the modal with a button -->
				  <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">Report</button>

				  <!-- Modal -->
				  <div class="modal fade" id="myModal" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-body">
				          <%= render partial: 'send_reports/add_report' %>
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				    </div>
				  </div>
			<% end %>
	</div>
	<div>
	  <div class="col-md-2"><h4>Followers: <%= @user.followers.count %> </h4></div>
	  <div class="col-md-2"><h4>I follow: <%= @user.ifollow.count %> </h4> </h4></div>
	  <div class="col-md-2"><h4>Posts: <%= @user.posts.count %> </h4></div>
	</div>
	<div class="col-md-8">
		<%= render partial: 'posts/index' %>
	</div>
</div>
