








<div id="blueimp-gallery-<%= post.id %>" class="blueimp-gallery">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>

  <p class="description"></p>

  <ol class="indicator"></ol>
</div>


<div class="modal fade" id="post-<%= post.id %>-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div id="links<%= post.id %>">


          <% images.each do |photo| %>
              <div class="row post-modal-images-row" >
                    <div class="col-md-12">
                      <a href="<%= photo.file.to_s %>"    class="photo-href"       title="Title" data-description="This is a description." data-gallery="#blueimp-gallery-<%= post.id %>" >
                        <%=image_tag photo.file.to_s, class:'post-modal-image'  %>
                      </a>
                    </div>
              </div>

              <a href="" id="post-<%= post.id %>-modal-image-<%= photo.id.to_s %>-remove" class='post-modal-image-remove'  data-confirm='Shure?'>remove</a>

              <script>
                $("#post-<%= post.id %>-modal-image-<%= photo.id.to_s %>-remove").click(function(e){
                    e.stopPropagation();
                    e.preventDefault();
                    var response = confirm( 'Are you sure?');
                    if (response) { console.log('hello!');
                      var url = '/users/' + "<%= current_user.id %>" + '/posts/' + "<%= post.id %>" + '/remove_posts_image/' + "<%= photo.id %>";
                      $.ajax({
                        url: url,
                        type: "Delete"
                      });

                      return true;
                    }else{
                      console.log('no!');
//                      e = e.originalEvent;
                      return false;
                    }

                });
              </script>


          <% end %>
      </div>



      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>  <!-- /.blueimp -->


<script>
  document.getElementById("links<%= post.id %>").onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
       // links = this.getElementsByTagName('a');
        links = this.getElementsByClassName('photo-href');
    blueimp.Gallery(links, options);
  };
</script>



