<h1><%= @album.name %></h1>

<%= link_to 'All Photo Albums', user_photo_albums_path(@user), class:'btn btn-default' %>

<% if @user.id == current_user.id && @album.name != 'From publications' %>
  <%= link_to 'Edit Album', edit_user_photo_album_path(@user, @album), class:'btn btn-default' %>
  <%= link_to 'Delete Album', user_photo_album_path(@user, @album), method: :delete, data:{confirm: 'Are you  shure?'}, class:'btn btn-default' %>

    <h2>Add Photo To Album</h2>
    <%=form_for([@user, @album.attachments.build], url: user_add_photo_to_album_path(id: @album), html:{:multipart => true, :class => 'dropzone', :id => 'file_upload_form'}) do |f|%>

        <div class="fallback">
          <%=f.file_field :file, accept:'image/*'%>
          <%=f.submit "Upload"%>
        </div>
    <%end%>
    <script type="text/javascript" charset="utf-8">
      Dropzone.autoDiscover = false;
      $("#file_upload_form").dropzone({
        autoProcessQueue :true,
        maxFilesize: 700,
        acceptedFiles: ".jpeg,.jpg,.png,.gif",
        paramName: "attachment[file]",
        addRemoveLinks: true,

        queuecomplete: function() {
          location.reload();
        }
      });
    </script>

<% end %>
<div id="blueimp-gallery" class="blueimp-gallery">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <p class="description"></p>
  <ol class="indicator"></ol>
</div>

<div id="links">

    <% @album.photos.each_slice(3) do |photos| %>
        <div class="row photo-albums-pictures-row" >
           <% photos.each do |photo| %>
              <div class="col-md-4" id="photo-albums-<%=@album.id%>-picture-<%=photo.id%>-cell">

                <a href="<%= photo.file.to_s %>"  title="Title" class="photo-href" data-description="This is a description." >
                  <%=image_tag photo.file.to_s, class:'gallery-picture'  %>
                </a>

                <% if @user == current_user %>
                    <%= link_to 'X', '#', id:'photo-albums-'+@album.id.to_s+'-picture-'+photo.id.to_s+'-href', class:'photo-albums-remove-link' %>
                    <script>
                        $('#photo-albums-<%=@album.id%>-picture-<%=photo.id%>-href').click(function(e){
                            e.stopPropagation();
                            e.preventDefault();
                            var response = confirm( 'Are you sure?');
                            if (response) { console.log('hello!');
                                 var url = '/users/'+"<%=@user.id%>"+'/remove_photo' ;
                                  $.ajax({
                                    url: url,
                                    type: "Delete",
                                    data: {'id': "<%=@album.id%>", 'photo_id': "<%= photo.id %>"}
                                  });

                                return true;
                            }else{
                              console.log('no!');
                              return false;
                            }
                        });
                    </script>
                <% end %>
              </div>

           <% end %>
        </div>
    <% end %>
</div>
</div>



<script>
  document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByClassName('photo-href');
    blueimp.Gallery(links, options);
  };

  $('.photo-albums-remove-link').each(function(){
    $(this).mouseover(function(){
      $(this).attr('title', 'remove');
    });
  });


</script>



