

<% if @user == current_user %>
    <%= link_to 'Add New Video Catalog', new_user_video_catalog_path(@user), class:'btn btn-default'%>
<% end %>


<% video_catalogs = @user.video_catalogs.sort_by{|m| m[:name]} %>

<% video_catalogs.each  do |catalog| %>
  <h2><%= link_to catalog.name, user_video_catalog_path(@user, catalog) %></h2>
<% end %>


<h1>All Videos:</h1>

<% references = @user.attachment_references.where(attachment_type: 'video') %>
<% ids = references.map{|obj| obj.attachment_id } %>
<% ref_clips = Attachment.where(id: ids) %>



<% all_clips = @user.attachments.video + ref_clips %>
<% all_clips.each_slice(3) do |group| %>
    <div class="row catalog-video-row">
      <% group.each do |clip| %>
        <div class="col-md-4 video-cell"  id="catalog-video-cell<%= clip.id.to_s %>">
          <%= video_tag clip.file.to_s, class:'video-catalog-clip', controls: true %>
          <%= clip.file.to_s.split('/').last[0..30] %>
          <h5>Added by:  <%= User.find(clip.user_id).login %></h5>


          <% if @user == current_user %>

              <% if clip.user_id == current_user.id %>
                   <%= link_to 'X', user_catalog_clip_remove_path(current_user, clip_id: clip.id, id: clip.video_catalog_id), remote: true, method: :delete, data:{confirm: 'Are you shure?' }, class:'video-catalog-clip-remove-link' %>
              <% else %>
                  <%= link_to 'X', user_catalog_clip_remove_path(current_user, clip_id: clip.id), remote: true, method: :delete, data:{confirm: 'Are you shure?' }, class:'video-catalog-clip-remove-link' %>
              <% end %>

          <% end %>


          <% if current_user != @user %>
              <% if current_user.attachment_references.where(attachment_type:'video', attachment_id: clip.id).count == 0 %>
                  <div class="video-catalog-add-to-my-videos-link" id="video-catalogmain-add-to-my-videos-link<%=clip.id%>">
                    <%= link_to '+add to my videos', user_add_to_my_videos_path(current_user, clip_id: clip.id, video_catalog_id: 'main'), remote: true, method: :put %>
                  </div>
              <% end %>
          <% end %>
        </div>

      <% end %>
    </div>

<% end %>