<h1><%= @video_catalog.name %></h1>
<%= link_to 'All Video Catalogs', user_video_catalogs_path(@user), class:'btn btn-default' %>

<% if @user == current_user %>
    <%= link_to 'Edit Video Catalog', edit_user_video_catalog_path(@user, @video_catalog), class:'btn btn-default' %>
    <%= link_to 'Delete Video Catalog', user_video_catalog_path(@user, @video_catalog), class:'btn btn-default', method: :delete, data:{confirm: 'Are you  shure?'} %>

<h2>Add Clips To Catalog</h2>
<%=form_for(@video_catalog.videos.build, url: user_add_video_to_catalog_path(@user, id: @video_catalog), html:{:multipart => true, :class => 'dropzone', :id => 'file_upload_form'}) do |f|%>

    <div class="fallback">
      <%=f.file_field :file, accept:'video/*'%>
      <%=f.submit "Upload"%>
    </div>
<%end%>
<script type="text/javascript" charset="utf-8">
  Dropzone.autoDiscover = false;
  $("#file_upload_form").dropzone({
    autoProcessQueue :true,
    maxFilesize: 700,
    acceptedFiles: ".mp4,.mkv,.avi",
    paramName: "attachment[file]",
    addRemoveLinks: true,
    queuecomplete: function() {
      location.reload();
    }
  });
</script>

<% end %>

<% @video_catalog.videos.each_slice(3) do |clips| %>
    <div class="row catalog-video-row" >
      <% clips.each do |clip| %>
          <div class="col-md-4 video-cell"  id="catalog-video-cell<%= clip.id %>">


              <%= link_to user_catalog_video_play_path(@user,  clip_id: clip), remote: true do %>
                    <%= video_tag clip.file.to_s, class:'video-catalog-clip', id: 'video-catalog-'+@video_catalog.id.to_s+'clip'+clip.id.to_s, :size => "320x240", :controls => true %>
              <% end %>
              <div class="row">
                <div class="col-md-12" >
                  <%= link_to clip.file.to_s.split('/').last, user_catalog_video_play_path(@user,  clip_id: clip), remote: true %>
                </div>
              </div>
              <% if @user == current_user %>
                    <%= link_to 'X', user_catalog_clip_remove_path(current_user, clip_id: clip.id, id: @video_catalog), remote: true, method: :delete, data:{confirm: 'Are you shure?' }, class:'video-catalog-clip-remove-link' %>
              <% end %>







            <% if current_user != @user %>



                <% if current_user.attachment_references.where(attachment_type:'video', attachment_id: clip.id).count == 0 %>
                    <div class="video-catalog-add-to-my-videos-link" id="video-catalog<%=@video_catalog.id%>-add-to-my-videos-link<%=clip.id%>">
                      <%= link_to '+add to my videos', user_add_to_my_videos_path(current_user, clip_id: clip.id, video_catalog_id: @video_catalog), remote: true, method: :put %>
                    </div>
                <% end %>


            <% end %>









          </div>
      <% end %>
    </div>

<% end %>



<div class="modal fade" id="video-catalogs-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<div class="row">
          <div class="col-md-12 video-catalogs-modal-body">

          </div>
        </div>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<script>
  $('.video-catalog-clip').each(function(){
      $(this).on('play', function(){
        var clip = $(this);
        $('.video-catalog-clip').each(function(){
          if ($(this).attr('id') != $(clip).attr('id')){
            console.log($(clip));
            $(this).trigger('pause');
          }
        });
      });
  });

  $('.video-catalog-clip-remove-link').each(function(){
      $(this).mouseover(function(){
          $(this).attr('title', 'remove');
      });
  });


  $('#video-catalogs-modal').on('hidden.bs.modal', function () {
      $('#video-catalogs-modal').find('.video-catalogs-modal-body').find('video').trigger('pause');
  });

</script>





<script>
//$('a[data-confirm]').click(function(ev) {
//var href = $(this).attr('href');
//
//console.log(href);
//$('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
//$('#dataConfirmOK').attr('href', href);
//$('#dataConfirmModal').modal({show:true});
//return false;
//});
</script>


























