
<script src="/assets/likes.js"></script>
<link rel="stylesheet" href="/assets/likes.css"/>
<script type="text/javascript" src = "/assets/posts.js" ></script>
<style type="text/css">
    .space{
        margin-top: 15px; 
    }
</style>
<div class="post_index">
</div>
<div>
    <% if @posts %>
        <div class="panel panel-default">
            <% @posts.each do |post| %> 
                <div class="space panel-body">
                    <h5>Created at : <%= post.created_at %></h5>
                    --------------------------------------------<br>
                    <%= post.text %>
                    <% if @user == current_user %>
                        <%= link_to 'Edit', edit_user_post_path(current_user, post) %>
                        <%= link_to 'Delete',user_post_path(current_user, post), method: :delete, remote: true, id: 'del_ps' %>
                    <% end %>
                    <% if current_user != nil %>
                        <%=render partial: "/likes/likes_panel", locals:{post_id:post.id}%>
                    <% end %>


                    <%= render partial: '/comments/index', locals:{post_id: post.id} %>


                </div>
            <% end %>
        <% end %> 
        </div>
</div>
