<% if @user.posts %>
	<div class="panel panel-default">
		<% @user.posts.each do |post| %>
  		<div class="panel-heading">Created at : <%= post.created_at %> 
  		<% if @user == current_user %>
      	<%= link_to 'Edit', class: "col-md-offset-right" %>
      	<%= link_to 'Delete', user_post_path(@user), method: :delete %>
      <% end %>
      </div>
  	<div class="panel-body">
        <%= post.text %>
  	</div>
		<% end %>
	<% end %> 
 </div>
 <div> 
    <%= @postq.text %>
 </div>