<link rel="stylesheet" href="/assets/show.css"/>

<div class="user-cont"> 
	<%= form_for @post, url: user_post_path(current_user, @post), method: :put do |f| %>
		<%= f.text_area :text %><br>
		<%= f.label "Upload video" %>
		<%= f.file_field :video %>
		<%= f.label "Upload music" %>
		<%= f.file_field :audio %>
		<%= f.submit "Edit post" %>
	<% end %>
</div>