<link rel="stylesheet" href="/assets/show.css"/>

<div class="user-cont"> 
    <%= form_for @post, url: user_post_path(current_user, @post), method: :put do |f| %>
        <%= f.text_field :header, class:'form-control', placeholder:'header'%><br />
        <%= f.text_area :text, class:'form-control',rows:'10'%><br><br>
        <%= f.submit t('.edit'), class:"btn btn-primary" %>
    <% end %>
    <h3 class="text-info"><%= t '.attachments' %></h3>
    <div class="row">

        <div class="col-sm-8">
            <%=render partial: 'attachments/edit'%>
        </div>
        <div class="col-sm-4">
            <%=render partial: 'attachments/add_file',locals:{post:@post}%>
        </div>

    </div>

</div>
