

<% if @user == current_user %>
    <%= link_to 'Edit Audio Catalog', edit_user_audio_catalog_path(@user, @audio_catalog), class:'btn btn-default' %>
    <%= link_to 'Delete Audio Catalog', user_audio_catalog_path(@user, @audio_catalog), method: :delete, class:'btn btn-default', data:{confirm: 'Are you  shure?'} %>


    <h2>Add Track To Catalog</h2>
    <%= form_for [@user, @audio_catalog.attachments.audio.build], url: user_add_track_to_catalog_path(audio_catalog_id: @audio_catalog) do |f| %>

        <div class="form-group">
            <%= f.file_field :file, accept:'audio/*' %>
        </div>
        <div class="form-group">
            <%= f.submit 'Submit', class:'btn btn-primary' %>
        </div>
    <% end %>
<% end %>

<h2><%= @audio_catalog.name %></h2>

<% @audio_catalog.attachments.audio.each do |track| %>
    <%=link_to '#', remote: true do %>
        <br><%= audio_tag track.file.to_s, controls: true%>
    <% end %>

    <% if @user == current_user %>
        <%= link_to 'Remove', user_remove_track_path(@user, track_id: track.id, audio_catalog_id: @audio_catalog ), method: :delete %>
    <% end %>

<% end %>

